<style>
    .advancedHide {
        display: none !important;
    }
</style>
<h2>${HeaderLibrarySettings}</h2>
<div class="selectContainer fldMetadataLanguage hide">
    <select is="emby-select" id="selectLanguage" label="${LabelMetadataDownloadLanguage}"></select>
</div>
<div class="selectContainer fldMetadataCountry hide">
    <select is="emby-select" id="selectCountry" label="${LabelCountry}"></select>
</div>
<div class="selectContainer fldImageLanguage hide">
    <select is="emby-select" id="selectImageLanguage" label="${LabelImageDownloadLanguage}"></select>
</div>
<div class="checkboxContainer checkboxContainer-withDescription chkEnablePhotosContainer">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnablePhotos" checked />
        <span>${EnablePhotos}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${EnablePhotosHelp}</div>
</div>

<div class="inputContainer fldSeasonZeroDisplayName hide advanced">
    <input is="emby-input" type="text" id="txtSeasonZeroName" label="${LabelSpecialSeasonsDisplayName}" value="Specials" required />
</div>
<div class="checkboxContainer checkboxContainer-withDescription chkEnableEmbeddedTitlesContainer hide advanced">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkEnableEmbeddedTitles" />
        <span>${PreferEmbeddedTitlesOverFileNames}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${PreferEmbeddedTitlesOverFileNamesHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnableRealtimeMonitor" checked />
        <span>${LabelEnableRealtimeMonitor}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelEnableRealtimeMonitorHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription hide">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnableAudioResume" />
        <span>${LabelEnableRealtimeMonitor}</span>
    </label>
</div>

<div class="metadataReaders hide advanced" style="margin-bottom: 2em;">
</div>
<div class="metadataFetchers hide" style="margin-bottom: 2em;">
</div>
<div class="selectContainer fldAutoRefreshInterval hide advanced" style="margin: 2em 0;">
    <select is="emby-select" id="selectAutoRefreshInterval" label="${LabelAutomaticallyRefreshInternetMetadataEvery}"></select>
    <div class="fieldDescription">${MessageEnablingOptionLongerScans}</div>
</div>
<div class="metadataSavers hide" style="margin-bottom: 2em;">
</div>
<div class="imageFetchers hide advanced" style="margin-bottom: 2em;">
</div>
<div class="checkboxContainer checkboxContainer-withDescription chkSaveLocalContainer hide">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkSaveLocal" />
        <span>${LabelSaveLocalMetadata}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelSaveLocalMetadataHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription hide chkDownloadImagesInAdvanceContainer advanced">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkDownloadImagesInAdvance" />
        <span>${OptionDownloadImagesInAdvance}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${OptionDownloadImagesInAdvanceHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription chkAutomaticallyGroupSeriesContainer hide advanced">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkAutomaticallyGroupSeries" checked />
        <span>${OptionAutomaticallyGroupSeries}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${OptionAutomaticallyGroupSeriesHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription hide chkImportMissingEpisodesContainer advanced">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkImportMissingEpisodes" />
        <span>${LabelDisplayMissingEpisodesWithinSeasons}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${ImportMissingEpisodesHelp}</div>
</div>

<div class="thumbnailSettingsSection hide">
    <h2>${HeaderThumbnailImages}</h2>
    <div class="checkboxContainer checkboxContainer-withDescription fldExtractThumbnailImages">
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkExtractThumbnailImages" />
            <span>${OptionExtractThumbnailImage}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${ExtractThumbnailImagesHelp}</div>
    </div>

    <div class="selectContainer fldThumbnailInterval advanced">
        <select is="emby-select" id="selectThumbnailInterval" label="${LabelThumbnailImagesInterval}"></select>
        <div class="fieldDescription">${ThumbnailImagesIntervalHelp}</div>
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription fldExtractThumbnailsDuringLibraryScan advanced">
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkExtractThumbnailsDuringLibraryScan" />
            <span>${LabelExtractThumbnailsDuringLibraryScan}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${LabelExtractThumbnailsDuringLibraryScanHelp}</div>
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription fldSaveThumbnailSetsLocally hide">
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkLocalThumbnailSets" />
            <span>${SaveThumbnailImagesIntoMediaFolders}</span>
        </label>
    </div>
</div>

<div class="subtitleDownloadSettings hide">
    <h2>${HeaderSubtitleDownloads}</h2>

    <div>
        <h3 class="checkboxListLabel">${LabelDownloadLanguages}</h3>
        <div class="subtitleDownloadLanguages paperList checkboxList" style="max-height: 10.5em; overflow-y: auto; padding: .5em 1em;">
        </div>
    </div>
    <br />

    <div class="subtitleFetchers" style="margin-bottom: 2em;">
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription">
        <label>
            <input is="emby-checkbox" type="checkbox" id="chkRequireHashMatch" checked />
            <span>${RequireHashMatch}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${RequireHashMatchHelp}</div>
    </div>
    <div class="checkboxContainer checkboxContainer-withDescription advanced">
        <label>
            <input is="emby-checkbox" type="checkbox" id="chkSkipIfAudioTrackPresent" />
            <span>${LabelSkipIfAudioTrackPresent}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${LabelSkipIfAudioTrackPresentHelp}</div>
    </div>
    <div class="checkboxContainer checkboxContainer-withDescription advanced">
        <label>
            <input is="emby-checkbox" type="checkbox" id="chkSkipIfGraphicalSubsPresent" />
            <span>${LabelSkipIfGraphicalSubsPresent}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${LabelSkipIfGraphicalSubsPresentHelp}</div>
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkSaveSubtitlesLocally" checked />
            <span>${SaveSubtitlesIntoMediaFolders}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${SaveSubtitlesIntoMediaFoldersHelp}</div>
    </div>
</div>

<div class="playbackSettings hide">

    <div class="advanced">
        <h2>${Playback}</h2>

        <div class="inputContainer">
            <input is="emby-input" type="number" id="txtMinResumePct" name="txtMinResumePct" pattern="[0-9]*" required min="0" max="100" label="${LabelMinResumePercentage}" value="5" />
            <div class="fieldDescription">
                ${LabelMinResumePercentageHelp}
            </div>
        </div>
        <div class="inputContainer">
            <input is="emby-input" type="number" id="txtMaxResumePct" name="txtMaxResumePct" pattern="[0-9]*" required min="1" max="100" label="${LabelMaxResumePercentage}" value="90" />
            <div class="fieldDescription">
                ${LabelMaxResumePercentageHelp}
            </div>
        </div>
        <div class="inputContainer">
            <input is="emby-input" type="number" id="txtMinResumeDuration" name="txtMinResumeDuration" pattern="[0-9]*" required min="0" label="${LabelMinResumeDuration}" value="180" />
            <div class="fieldDescription">
                ${LabelMinResumeDurationHelp}
            </div>
        </div>
    </div>
</div>