.bar {
  min-width: 0 !important;
}

div.app {
  padding: 0.7rem;
}

.statistic > .value {
  text-transform: none !important;
}

.ui.mini.statistics .statistic > .label {
  font-size: 0.6em;
}

.ui.progress {
  margin-bottom: 0 !important;
}

.ui.search > .input {
  width: 100%;
}

.ui.search > div {
  flex-direction: row-reverse;
}

.ui.action.input:not([class*='left action']) > input {
  border-radius: 0 0.28571429rem 0.28571429rem 0 !important;
  border-right-color: rgba(34, 36, 38, 0.15) !important;
}

.ui.action.input:not([class*='left action']) > .dropdown:last-child {
  width: 30%;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
  border-right: 0;
}

.ui.search > .results .result .image + .content {
  margin-right: 1em;
}

.ui.search > .results .result .image {
  width: 8em;
  height: auto;
}

.ui.search > .results .result .image img {
  height: auto;
}

.pieces-container {
  line-break: anywhere;
}

.ui.fluid.search .results {
  width: 150%;
}

@media only screen and (max-width: 768px) {
  [class*='mobile-hidden'] {
    display: none !important;
  }

  .ui.action.input:not([class*='left action']) > .dropdown:last-child {
    width: 40%;
  }

  .ui.action.input:not([class*='left action']) > input {
    width: 60%;
  }
}
