<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Canales">
        <setting label="Opciones para listados de canales:" type="lsep"/>
        <setting id="channels_link_main" type="bool" label="Añadir acceso por canales en menú principal" default="true"/>
        <setting id="channels_link_pyse" type="bool" label="Añadir acceso por películas y series (solo los canales con ambos contenidos)" default="false"/>

        <setting type="sep"/>
        <setting id="channels_list_status" type="enum" values="Todos|Preferidos y Activos|Sólo Preferidos" label="Qué canales se mostrarán" default="0"/>
        <setting id="channels_list_order" type="bool" label="Ordenar canales preferidos al principio" default="true"/>
        <setting id="channels_list_prefe_color" type="labelenum" label="Color canales preferidos"
                 values="[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR tomato]tomato[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR purple]purple[/COLOR]|[COLOR lime]lime[/COLOR]|[COLOR aqua]aqua[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]"
                 default="[COLOR gold]gold[/COLOR]"/>

        <setting type="sep"/>
        <setting label="Opciones para el control parental:" type="lsep"/>
        <setting id="channels_only_anime" type="action" label="Qué canales pueden tener contenido de animes" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_only_animes)"/>
        <setting id="channels_only_adults" type="action" label="Qué canales pueden tener contenido para adultos" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_only_adults)"/>

        <setting type="sep"/>
        <setting id="descartar_anime" type="bool" label="Descartar canales exclusivos de animes" default="false"/>
        <setting id="descartar_xxx" type="bool" label="Descartar canales exclusivos adultos y listas/géneros con ese contenido" default="false"/>

        <setting type="sep"/>
        <setting id="xxx_password" type="action" label="Establecer un pin parental" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=adults_password)"/>
		<setting id="adults_password" type="text" label="Clave parental" enable="true" visible="false" default=""/>
        <setting id="show_help_adults" type="action" label="Informacion control parental" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_adults)"/>
    </category>

    <category label="Play">
        <setting label="Opciones para reproducción automática:" type="lsep"/>
        <setting id="autoplay" type="bool" label="Activar AutoPlay" default="false"/>
        <setting id="show_channels_list" type="action" label="Qué canales están disponibles" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_channels_list)" visible="eq(-1,true)"/>
        <setting id="autoplay_max_links" type="labelenum" values="3|5|10|15|20|25|30" label="Número máximo de enlaces a intentar" default="10" visible="eq(-2,true)"/>
        <setting id="autoplay_channels_discarded" label="Canales sin autoplay (separados por comas)" type="text" default="" visible="eq(-3,true)"/>
        <setting id="autoplay_one_link" type="bool" label="Si solamente hay un enlace para reproducir activar AutoPlay" default="true" visible="eq(-4,false)"/>

        <setting type="sep"/>
        <setting label="Opciones para ordenar/filtrar enlaces por idioma:" type="lsep"/>
        <setting id="preferencia_idioma_esp" type="enum" values="Descartar|Primero|Segundo|Tercero" label="Idioma Esp (castellano de España)" default="1"/>
        <setting id="preferencia_idioma_lat" type="enum" values="Descartar|Primero|Segundo|Tercero" label="Idioma Lat (castellano de América)" default="2"/>
        <setting id="preferencia_idioma_vos" type="enum" values="Descartar|Primero|Segundo|Tercero" label="Idioma VO (versión original y/o subtitulada)" default="3"/>

        <setting type="sep"/>
        <setting label="Opciones para ordenar enlaces por calidad:" type="lsep"/>
        <setting id="servers_sort_quality" type="enum" values="Orden de la Web|Calidad Desc|Calidad Asc" label="En cada idioma ordenar enlaces según" default="0"/>

        <setting type="sep"/>
        <setting label="Opciones para ordenar/filtrar enlaces por servidores:" type="lsep"/>
        <setting id="show_servers_list" type="action" label="Qué servidores están disponibles" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_servers_list)"/>

        <setting type="sep"/>
        <setting id="servers_preferred" label="Servidores preferidos (separados por comas)" type="text" default=""/>
        <setting id="servers_unfavored" label="Servidores última opción (separados por comas)" type="text" default=""/>
        <setting id="servers_discarded" label="Servidores descartados (separados por comas)" type="text" default=""/>

        <setting type="sep"/>
        <setting label="Opciones para errores al reproducir los enlaces:" type="lsep"/>
        <setting id="tracking_weberror_dialog" type="bool" label="Si la web da error, ¿ mostrar diálogo para búsqueda alternativa ?" default="true"/>
    </category>

    <category label="Proxies">
        <setting label="Opciones para proxies:" type="lsep"/>
        <setting id="channels_with_proxies" type="action" label="Qué canales pueden usar proxies" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_with_proxies)"/>
        <setting id="show_help_proxies" type="action" label="Información uso de proxies" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_proxies)"/>

        <setting type="sep"/>
        <setting id="proxies_auto" type="bool" label="Buscar proxies automáticamente (solo con el proveedor 'Todos' seleccionado)" default="true"/>
        <setting id="proxies_provider" type="enum" values="spys.one|hidemy.name|httptunnel.ge|proxynova.com|free-proxy-list|spys.me|proxyscrape.com|proxyservers.pro|us-proxy.org|proxy-list.download|Todos" label="Proveedor habitual de proxies" default="10"/>
        <setting id="proxies_validos" type="bool" label="Limitar la cantidad de proxies válidos a memorizar" default="true"/>
        <setting id="proxies_limit" type="bool" label="Si se encontraron suficientes válidos dejar de buscar más proxies" default="true"/>

        <setting type="sep"/>
        <setting label="Opciones para configurar proxies a usar:" type="lsep"/>
        <setting id="proxies_tipos" type="bool" label="Solicitar tipo de anonimidad" default="false"/>
        <setting id="proxies_paises" type="bool" label="Solicitar país" default="false"/>
        <setting id="proxies_maximo" type="bool" label="No solicitar y forzar el valor máximo de los proxies a analizar" default="true"/>
        <setting id="proxies_list" type="bool" label="Habilitar selección por su lista personalizada (.../lista_proxies.txt)" default="false"/>
        <setting id="proxies_help" type="bool" label="Presentar ayuda" default="true"/>
    </category>

    <category label="Torrents">
        <setting label="Opciones para servicios externos:" type="lsep"/>
        <setting id="channels_only_torrents" type="action" label="Qué canales pueden contener archivos torrent" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_only_torrents)"/>

        <setting type="sep"/>
        <setting id="show_clients_torrent" type="action" label="Qué clientes externos torrent estan soportados" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_clients_torrent)"/>

        <setting type="sep"/>
        <setting id="cliente_torrent" type="labelenum" values="Ninguno|Seleccionar|Quasar|Elementum|Torrenter|Torrentin|Torrest|Pulsar|Stream|Xbmctorrent" label="Cliente externo para Torrents" default="Seleccionar"/>

        <setting type="sep"/>
        <setting id="show_help_torrents" type="action" label="¿ Dónde obtener los add-ons para torrents ?" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_torrents)"/>
    </category>

    <category label="Buscar">
        <setting label="Opciones para configurar las búsquedas:" type="lsep"/>
        <setting id="search_extra_main" type="bool" label="Añadir acceso a búsquedas en TMDB y Filmaffinity en sub-opciones menú " default="false"/>

        <setting type="sep"/>
        <setting id="search_only_prefered" type="bool" label="Efectuar las búsquedas solo en los canales preferidos" default="false"/>
        <setting id="search_channels_prefered" type="action" label="Qué canales tiene marcados como preferidos" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_prefered)"/>

        <setting type="sep"/>
        <setting id="search_no_channels_actives" type="action" label="Qué canales no intervienen en las búsquedas (marcados como desactivados)" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_no_actives)"/>

        <setting type="sep"/>
        <setting id="search_no_proxies" type="bool" label="Descartar en las búsquedas los canales con proxies informados" default="false"/>
        <setting id="search_no_channels_with_proxies" type="action" label="Qué canales pueden usar proxies" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=channels_with_proxies)"/>

        <setting type="sep"/>
        <setting id="search_no_results" type="bool" label="Presentar los canales sin resultados" default="false"/>
        <setting id="search_no_channels" type="bool" label="Notificar los canales ignorados en las búsquedas" default="false"/>

        <setting type="sep"/>
        <setting label="Opciones para las búsquedas:" type="lsep"/>
        <setting id="search_show_last" type="bool" label="Recordar último texto buscado" default="true"/>
        <setting id="search_multithread" type="bool" label="Activar multithread" default="true"/>
        <setting id="search_limit_by_channel" type="labelenum" values="1|2|3|4|5|6|7|8|9|10" label="Cuantos resultados desea previsualizar por cada canal" default="2"/>

        <setting type="sep"/>
        <setting id="show_help_search" type="action" label="Información sobre búsquedas" action="RunPlugin(plugin://plugin.video.balandro/?channel=search&action=show_help)"/>
        <setting id="show_help_tmbdblist" type="action" label="Información búsquedas y listas en TMDB" action="RunPlugin(plugin://plugin.video.balandro/?channel=tmdblists&action=show_help)"/>
    </category>

    <category label="Preferidos">
        <setting label="Informacion preferidos:" type="lsep"/>
        <setting id="show_help_tracking" type="action" label="¿ Cómo funciona ?" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_tracking)"/>
        <setting id="show_help_tracking_update" type="action" label="Búsqueda automática de nuevos episodios" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_tracking_update)"/>

        <setting label="Opciones para guardar enlaces:" type="lsep"/>
        <setting id="tracking_confirm_tmdbid" type="bool" label="Confirmar siempre la identificación de la película/serie" default="false"/>

        <setting type="sep"/>
        <setting label="Opciones para el listado de películas:" type="lsep"/>
        <setting id="tracking_order_movies" type="enum" values="Actualización|Título|Fecha de estreno" label="Ordenar por" default="0"/>
        <setting id="tracking_perpage_movies" type="labelenum" values="5|10|15|20|25|30" label="Número de películas por página" default="10"/>

        <setting label="Opciones para el listado de series:" type="lsep"/>
        <setting id="tracking_order_tvshows" type="enum" values="Actualización|Título|Fecha de estreno" label="Ordenar por" default="0"/>
        <setting id="tracking_perpage_tvshows" type="labelenum" values="5|10|15|20|25|30" label="Número de series por página" default="10"/>

        <setting label="Opciones para el listado de episodios recientes:" type="lsep"/>
        <setting id="tracking_order_episodes" type="enum" values="Actualización|Fecha de emisión" label="Ordenar por" default="1"/>
        <setting id="tracking_perpage_episodes" type="labelenum" values="5|10|15|20|25|30" label="Número de episodios por página" default="10"/>

        <setting type="sep"/>
        <setting label="Opciones para fijar el tipo de vista por defecto:" type="lsep"/>
        <setting id="tracking_viewmode_movies" type="enum" values="No fijar|Lista|Cartel|Mays.|Muro de información|Lista amplia|Muro|Fanart" label="Películas" default="0"/>
        <setting id="tracking_viewmode_tvshows" type="enum" values="No fijar|Lista|Cartel|Mays.|Muro de información|Lista amplia|Muro|Fanart" label="Series" default="0"/>
        <setting id="tracking_viewmode_seasons" type="enum" values="No fijar|Lista|Cartel|Mays.|Muro de información|Lista amplia|Muro|Fanart" label="Temporadas" default="0"/>
        <setting id="tracking_viewmode_episodes" type="enum" values="No fijar|Lista|Cartel|Mays.|Muro de información|Lista amplia|Muro|Fanart" label="Episodios" default="0"/>

        <setting label="Tracking DB active" type="text" id="tracking_current_dbname" default="default" visible="false"/>
    </category>

    <category label="Descargas">
        <setting label="Opciones para las descargas:" type="lsep"/>
        <setting id="downloadpath" type="folder" label="Carpeta descargas (por defecto .../downloads):" option="writeable" default=""/>

        <setting type="sep"/>
        <setting id="block_size" type="enum" values="128 KB|256 KB|512 KB|1024 KB|2048 KB" label="Tamaño por bloque" default="1"/>
        <setting id="part_size" type="enum" values="1 MB|2 MB|4 MB|8 MB|16 MB|32 MB" label="Tamaño por parte" default="1"/>
        <setting id="max_connections" type="enum" values="1|2|3|4|5|6|7|8|9|10" label="Número máximo de conexiones simultáneas" default="4"/>
        <setting id="max_buffer" type="enum" values="0|2|4|6|8|10|12|14|16|18|20" label="Número máximo de partes en memoria" default="5"/>
    </category>

    <category label="Actualizar">
        <setting label="Opciones para buscar nuevos episodios:" type="lsep"/>
        <setting id="addon_tracking_atstart" type="bool" label="Activar servicio al iniciar su Media Center (obligado re-iniciar si se activa)" default="false"/>
        <setting id="addon_tracking_interval" type="labelenum" values="6|8|12|24" label="Ejecutar el servicio por intervalo de horas" default="12" visible="eq(-1,true)"/>
        <setting id="addon_tracking_verbose" type="bool" label="Notificar aviso del resultado final de la búsqueda" default="false" visible="eq(-2,true)"/>
        <setting id="addon_tracking_doit" type="action" label="Pulsar para 'Comprobar nuevos episodios'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=comprobar_nuevos_episodios)"/>
        <setting id="addon_tracking_lastscrap" label="Last scrap" type="text" default="" visible="false"/>

        <setting label="Opciones para las actualizaciones de tipo Fix:" type="lsep"/>
        <setting id="addon_update_atstart" type="bool" label="Comprobar actualizaciones al iniciar su Media Center" default="true"/>
        <setting id="addon_update_verbose" type="bool" label="Mostrar aviso del resultado de la actualización" default="false"/>

        <setting type="sep"/>
        <setting id="show_last_fix" type="action" label="Información fix" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_last_fix)"/>
    </category>

    <category label="Visual">
        <setting label="Opciones para los títulos de películas/series en los listados de canales:" type="lsep"/>
        <setting id="list_show_year" type="enum" values="No|En películas|En series|En películas y series" label="Mostrar el año" default="3"/>
        <setting id="list_info_order" type="enum" values="Ninguno|Idiomas|Calidades|Idiomas y calidades|Calidades e idiomas" label="Mostrar idiomas y calidades" default="3"/>

        <setting id="list_movie_color" type="labelenum" label="Color Películas"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR gray]gray[/COLOR]"
                 default="[COLOR white]white[/COLOR]"/>

        <setting id="list_tvshow_color" type="labelenum" label="Color Series"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR gray]gray[/COLOR]"
                 default="[COLOR white]white[/COLOR]"/>

        <setting id="list_year_color" type="labelenum" label="Color Año"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR gray]gray[/COLOR]"
                 default="[COLOR gray]gray[/COLOR]"/>

        <setting id="list_languages_color" type="labelenum" label="Color Idiomas"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR gray]gray[/COLOR]"
                 default="[COLOR red]red[/COLOR]"/>

        <setting id="list_qualities_color" type="labelenum" label="Color Calidades"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR gray]gray[/COLOR]"
                 default="[COLOR limegreen]limegreen[/COLOR]"/>

        <setting type="sep"/>
        <setting label="Opciones para los enlaces al seleccionar servidor:" type="lsep"/>
        <setting id="colorear_enlaces_play" type="bool" label="Colorear los enlaces a servidores" default="true"/>

        <setting id="play_server_color" type="labelenum" label="Color Servidor"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]"
                 default="[COLOR gold]gold[/COLOR]" visible="eq(-1,true)"/>

        <setting id="play_quality_color" type="labelenum" label="Color Calidad"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]"
                 default="[COLOR limegreen]limegreen[/COLOR]" visible="eq(-2,true)"/>

        <setting id="play_language_color" type="labelenum" label="Color Idioma"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]"
                 default="[COLOR red]red[/COLOR]" visible="eq(-3,true)"/>

        <setting id="play_age_color" type="labelenum" label="Color Antiguedad/fecha"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]"
                 default="[COLOR deepskyblue]deepskyblue[/COLOR]" visible="eq(-4,true)"/>

        <setting id="play_other_color" type="labelenum" label="Color Otros datos"
                 values="[COLOR white]white[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR deepskyblue]deepskyblue[/COLOR]|[COLOR firebrick]firebrick[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR goldenrod]goldenrod[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR limegreen]limegreen[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR orchid]orchid[/COLOR]|[COLOR red]red[/COLOR]|[COLOR salmon]salmon[/COLOR]|[COLOR yellow]yellow[/COLOR]"
                 default="[COLOR white]white[/COLOR]" visible="eq(-5,true)"/>

        <setting type="sep"/>
        <setting label="Opciones para las acciones en los menús contextuales:" type="lsep"/>

        <setting id="context_tracking_color" type="labelenum" label="Color Guardar enlaces"
                 values="[COLOR blue]blue[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR pink]pink[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR red]red[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR green]green[/COLOR]|[COLOR gray]gray[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR teal]teal[/COLOR]"
                 default="[COLOR blue]blue[/COLOR]"/>

        <setting id="context_search_exact_color" type="labelenum" label="Color Buscar exacto"
                 values="[COLOR blue]blue[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR pink]pink[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR red]red[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR green]green[/COLOR]|[COLOR gray]gray[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR teal]teal[/COLOR]"
                 default="[COLOR gold]gold[/COLOR]"/>

        <setting id="context_search_similar_color" type="labelenum" label="Color Buscar parecido"
                 values="[COLOR blue]blue[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR pink]pink[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR red]red[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR green]green[/COLOR]|[COLOR gray]gray[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR teal]teal[/COLOR]"
                 default="[COLOR yellow]yellow[/COLOR]"/>

        <setting id="context_download_color" type="labelenum" label="Color Descargar vídeo"
                 values="[COLOR blue]blue[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR pink]pink[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR red]red[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR green]green[/COLOR]|[COLOR gray]gray[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR teal]teal[/COLOR]"
                 default="[COLOR orange]orange[/COLOR]"/>

        <setting id="context_trailer_color" type="labelenum" label="Color Buscar tráiler"
                 values="[COLOR blue]blue[/COLOR]|[COLOR gold]gold[/COLOR]|[COLOR orange]orange[/COLOR]|[COLOR pink]pink[/COLOR]|[COLOR hotpink]hotpink[/COLOR]|[COLOR red]red[/COLOR]|[COLOR yellow]yellow[/COLOR]|[COLOR green]green[/COLOR]|[COLOR gray]gray[/COLOR]|[COLOR cyan]cyan[/COLOR]|[COLOR violet]violet[/COLOR]|[COLOR teal]teal[/COLOR]"
                 default="[COLOR pink]pink[/COLOR]"/>
    </category>

    <category label="TMDB">
        <setting label="Opciones para obtener datos de las películas y series con TheMovieDB" type="lsep"/>
        <setting id="tmdb_disabled" type="bool" label="Desactivar llamadas a Tmdb en listados" default="false"/>
        <setting id="tmdb_threads" type="labelenum" values="5|10|15|20|25|30" label="Búsquedas simultáneas (puede causar inestabilidad)" default="20"/>
        <setting id="tmdb_plus_info" type="bool" label="Buscar información extendida (duración, actores, ...)" default="false"/>
        <setting id="tmdb_cache" type="bool" label="Usar caché (mejora las búsquedas recurrentes)" default="true"/>
        <setting id="tmdb_cache_expire" type="enum" values="cada 1 día|cada 7 días|cada 15 días|cada 30 días|No" label="¿Renovar caché?" enable="eq(-1,true)" default="4"/>

        <setting type="sep"/>
        <setting id="tmdb_clean_db_cache" type="action" label="Pulsar para 'Limpiar caché' actual" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=clean_db_cache)"/>
        <setting id="tmdb_drop_db_cache" type="action" label="Pulsar para 'Borrar caché' actual" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=drop_db_cache)"/>
    </category>

    <category label="Sistema">
        <setting label="Opciones para la depuración:" type="lsep"/>
        <setting id="debug" type="enum" values="Error|Error+Info|Error+Info+Debug" label="Nivel de mensajes en el log de su Media Center:" default="0"/>
        <setting id="show_log" type="action" label="Pulsar para visualizar el fichero log de su Media Center" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_log)"/>
        <setting id="copy_log" type="action" label="Pulsar para obtener una copia del fichero log de su Media Center"  action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=copy_log)"/>

        <setting type="sep"/>
        <setting label="Opciones para el User-Agent por defecto:" type="lsep"/>
        <setting id="ver_stable_chrome" type="bool" label="Obtener y usar la versión más reciente/estable de chrome" default="true"/>

        <setting type="sep"/>
        <setting label="Opciones para evitar tiempos de espera excesivos en los accesos:" type="lsep"/>
        <setting id="httptools_timeout" type="labelenum" values="0|5|10|15|20|25|30" label="Timeout (tiempo máximo de espera)" default="15"/>

        <setting type="sep"/>
        <setting label="Opciones para las notificaciones:" type="lsep"/>
        <setting id="notification_d_ok" type="bool" label="Diálogo en ciertas notificaciones con el botón para pulsar 'OK'" default="false"/>
        <setting id="notification_beep" type="bool" label="Emitir un sonido al mostrar notificaciones" default="false"/>

        <setting type="sep"/>
        <setting label="Opciones para el mantenimiento:" type="lsep"/>
        <setting id="manto_params" type="action" label="Pulsar para restablecer a sus valores por defecto los 'Parámetros Internos'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_params)"/>
		<setting id="channel_cinecalidad_dominio" type="text" label="Canal CineCalidad (Dominio)" enable="true" visible="false" default=""/>
		<setting id="channel_documaniatv_rua" type="text" label="Canal DocumaniaTv (Referer y User-Agent)" enable="true" visible="false" default=""/>
		<setting id="channel_hdfull_dominio" type="text" label="Canal HdFull (Dominio)" enable="true" visible="false" default=""/>
		<setting id="chrome_last_version" type="text" label="Chrome (Last Estable Version)" enable="true" visible="false" default="86.0.4240.75"/>

        <setting type="sep"/>
        <setting id="manto_proxies" type="action" label="Pulsar para eliminar los 'Proxies' en todos los canales" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_proxies)"/>
        <setting id="manto_cookies" type="action" label="Pulsar para eliminar el fichero de 'Cookies'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_cookies)"/>
        <setting id="manto_cache" type="action" label="Pulsar para eliminar la carpeta 'Caché'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_folder_cache)"/>

        <setting type="sep"/>
        <setting id="manto_descargas" type="action" label="Pulsar para eliminar 'Todo' el contenido de 'Descargas'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_folder_downloads)"/>
        <setting id="manto_preferidos" type="action" label="Pulsar para eliminar 'Todo' el contenido de 'Preferidos'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_tracking_dbs)"/>
        <setting id="manto_datos" type="action" label="Pulsar para eliminar 'Todos' los 'Datos del usuario'" action="RunPlugin(plugin://plugin.video.balandro/?channel=actions&action=manto_folder_addon)"/>
    </category>

    <category label="Ayuda">
        <setting label="Informacion para contactar:" type="lsep"/>
        <setting label="Foro [COLOR yellow][B][I] balandro.tk [/I][/B][/COLOR] para Novedades, Sugerencias, Aportaciones, etc." visible="true"/>
        <setting label="Telegram [COLOR cyan][B][I] @balandro_asesor [/I][/B][/COLOR] para Asesoramiento, Dudas, Ayuda, etc." visible="true"/>

        <setting type="sep"/>
        <setting label="Opciones principales de uso:" type="lsep"/>
        <setting id="show_help_tips" type="action" label="Trucos y consejos varios" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_tips)"/>
        <setting id="show_help_use" type="action" label="Ejemplos de uso" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_use)"/>
        <setting id="show_help_faq" type="action" label="FAQS - Preguntas y respuestas" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_faq)"/>
        <setting id="show_help_settings" type="action" label="Notas sobre algunos parámetros de la configuración" action="RunPlugin(plugin://plugin.video.balandro/?channel=helper&action=show_help_settings)"/>
        
    </category>

</settings>
